@charset "utf-8";

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #ffffff, #cce7ff, #99ccff, #66a3ff, #3366ff, #0033cc);;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
}

.container {
    text-align: center;
    background-color: #fff; ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #007BFF;
    font-size: 32px;
    margin: 0;
}

.game-container {
    margin: 20px 0;
}

.input-container {
    margin: 10px 0;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    border: 1px solid #050505;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
    color: black;
}

#vitorias {
    font-size: 20px;
    font-weight: bold;
    color: #006400;
}
